pkgbase = cheatu
	pkgdesc = Memory scanner and cheat tool for games, inspired by Cheat Engine and scanmem
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/carroarmato0/cheatu
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = fontconfig
	depends = libglvnd
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxi
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxrender
	depends = wayland
	depends = polkit
	optdepends = noto-fonts-cjk: CJK text rendering in the GUI
	source = cheatu-1.1.0.tar.gz::https://github.com/carroarmato0/cheatu/archive/refs/tags/v1.1.0.tar.gz
	sha256sums = 71da4074587595eda4a5b9db3f3a7e541bc90ebc2e59cf380a0ed8edeca7e610

pkgname = cheatu
